<div class="col-md-6">
  <h2 class="text-center">Employee Details</h2>
  <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">

      <div class="form-group">
        <label for="empId">Employee Id:</label>
        <input formControlName="empId" placeholder="Employee Id" name="Employee Id" class="form-control" id="employeeid">
      </div>

      <label for="name">Name:</label>
      <input type="name" formControlName="name" placeholder="Name" name="name" class="form-control" id="name">
    </div>
  
    <div class="form-group">
      <label for="designation">Designation:</label>
      <input formControlName="designation" placeholder="Designation" name="designation" class="form-control" id="designation">
    </div>

    <div class="form-group">
      <label for="designation">Salary:</label>
      <input formControlName="salary" placeholder="Enter employee Salary" name="salary" class="form-control" id="salary">
    </div>
  
    
  
    <button class="btn btn-success">{{buttonName}}</button>
  </form>
  </div>
  